/* Main style vars */

body {
	background-color: #FFFFFF;
	font-family: 'Inter', serif;
}

.apptitle {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: .1rem;
	margin-left: 1rem;
}

.row {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.clickable {
	cursor: pointer;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 200,
		'GRAD' 0,
		'opsz' 24
}

.container {
	padding-top: 1rem;
}

/* Inputs */

textarea {
	resize: none;
}

.login-txtinput,
select {
	display: flex;
	flex-direction: column;
	padding-bottom: .5rem;
	text-align: center;
}

input.login,
button.login,
select {
	padding: .375rem;
	border-radius: 1rem;
	border: .1rem solid #000000;
}

button.login {
	color: #FFF;
	outline: 0;
}

.insert-msg {
	outline: 0;
	flex-grow: 1;
    border-radius: 10rem;
    outline: 0;
    padding: .375rem;
	padding-left: 1rem;
	margin-left: 1rem;
	height: 2rem;
	border: 0;
	position: absolute;
	bottom: 1rem;
	width: 85%;
}

.insert-msg:focus {
	outline: .15rem solid #00A3FF;
	transition: .1s;
}

.foruminput {
	border-radius: 1rem;
	outline: none;
	border: .1rem solid #000;
	padding: .5rem;
}

button.foruminput {
	border: none;
}

/* Background cols */

.bg-white {
	background-color: #FFFFFF;
}

.bg-gray {
	background-color: #D9D9D9;
}

.bg-prim {
	background-color: #0000FF;
}

.bg-scnd {
	background-color: #00A3FF;
}

/* Text cols */

.txt-prim {
	color: #0000FF;
}

.txt-scnd {
	color: #5C5C5C;
}

.txt-white {
	color: #FFF;
}

/* Login Screen */

.logincontainer {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	height: 100%;
}

button.login {
	color: #FFF;
	outline: 0;
}

.login-to-registration {
	margin-left: .5rem;
	text-decoration: underline;
}

/* Sidebar */

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 25%;
	z-index: 1;
}

.forum-pm-icontext-sep {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0.5rem;
	width: 50%;
}

.tab-label {
	text-align: center;
	width: 100%;
}

.forum-filtering {
	padding-top: 1rem;
	padding-left: 1rem;
}

.icon-showforum {
	justify-content: center;
}

/* Main Content */

#main-content {
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 75%;
	z-index: 2;
}

.primary-page-desc {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.order-forums {
	display: flex;
	flex-direction: column;
	max-height: 700px;
	overflow-y: scroll;
}

/* Main Content Forum */

.single-forum {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2%;
	padding-right: 2%;
}

.single-forum-thread {
	width: 100%;
	padding: 1rem;
	margin-left: 0;
	border-radius: 1rem;
}

.single-forum-thread-title {
	font-size: 1.5rem;
	width: 85%;
}

.single-forum-thread-uname {
	font-size: .7rem;
}

.single-forum-thread-time {
	display: flex;
	justify-content: flex-end;
	font-size: .75rem;
}

.single-chat-thread-time {
	display: flex;
	margin-right: 0;
	justify-content: flex-end;
	font-size: .75rem;
	width: 100%;
}

/* user Items */

.user-list {
	display: flex;
	flex-direction: column-reverse;
}

.pm-person-unsel {
	color: #0000ff
}

.pm-person-sel {
	background-color: #0000ff;
	color: #FFF;
}

.pm-person-sel, .pm-person-unsel {
	transition: .25s;
}

.pm-person {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.pm-inner-container {
	margin-left: 1rem;
}

.username-side {
	margin-left: 1rem;
}

.about-user-button {
	margin-right: .1rem;
	padding: .5rem 0;
}

.about-user-button:hover {
	background-color: #0000FF;
	border-radius: 100%;
}

/* User search */

.user-search-items-container {
	display: flex;
	justify-content: space-around;
	order: 4;
	flex-flow: row wrap;
}

.user-search-item {
	border: 2px solid #0000FF;
	border-radius: .5rem;
	display: flex;
	align-items: center;
	width: 20rem;
	padding: .5rem;
	margin-bottom: 1rem;
}

.user-search-info {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.user-search-fullname {
	font-size: .75rem;
}

/* About user */

.back-arrow {
	font-size: 2rem;
	margin-left: 1rem;
	position: absolute;
}

.about-user-container {
	padding: 2rem 5rem;
	display: flex;
	align-items: center;
}

.about-user-fullname {
	font-size: 2rem;
}

/* Adding button */

.add-button-area {
	bottom: 1.5rem;
	display: flex;
	position: absolute;
	width: 100%;
	z-index: 98;
}

.add-button-selector {
	position: absolute;
	right: 1rem;
	bottom: 0;
	border-radius: 50%;
	border-bottom: 1px solid #646464;
	font-size: 3rem;
	height: 4rem;
	transition: .25s;
	width: 4rem;
	padding: .375rem;
}

.add-button-selector:hover {
	background-color: #8f8f8f;
	transition: .25s;
	border-radius: 50%;
	border-bottom: 1px solid #646464;
}

.abs-forums {
	color: #008000;
}

.abs-pms {
	color: #0000FF;
}

.material-symbols-rounded {
	font-size: 3.75rem !important;
	padding-left: .1rem;
	font-variation-settings:
		'FILL' 0,
		'wght' 700,
		'GRAD' 0,
		'opsz' 48
}

/* Session User */

.sessioner-box {
	position: absolute;
	bottom: 1.5rem;
	border-radius: 50rem;
	display: flex;
	margin-left: 2.5%;
	padding-right: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 90%;
}

.sessioner-user {
	align-items: center;
	flex-direction: row;
	font-size: 1.25rem;
	justify-content: space-between;
}

/* Add Forum page */

#forumForm {
	align-content: space-between;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
}

.forumContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 2rem;
	padding-left: 10%;
	padding-right: 10%;
}

.btn-logout {
	margin-right: .5rem;
}

/* Commenting */

.forum-comment-ph {
	display: flex;
	justify-content: center;
	font-size: 1.25rem;
}

.comment-input-area {
	padding-left: 10%;
	padding-right: 10%;
}

.comment-input {
	border-radius: 1rem;
	border: 0;
	display: flex;
	justify-content: center;
	padding: 1rem;
	width: 100%;
}

.comment-submit {
	margin-top: 1rem;
	border: 0;
}

/* Authoring */

.author-area {
	position: absolute;
	right: .1rem;
	bottom: .1rem;
	z-index: 97;
	width: 100%;
	display: flex;
	justify-content: end;
}

/* Chatting */

#chat-display {
	position: absolute;
	bottom: 9vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 80vh;
	width: 100%;
}

.single-chat-thread {
	width: 90%;
	padding: 1rem;
	margin-left: 1rem;
	margin: 0 1rem;
	border-radius: 1rem;
}

.single-chat {
	padding-top: 1rem;
}

.iconsize {
	color: #0000FF;
	font-weight: bold;
	height: 3rem;
	margin-left: 1rem;
	width: 3rem;
	justify-content: end;
}

/* Status */

.online-status, .offline-status {
	padding: 5px;
    border-radius: 10rem;
	margin-right: 1rem;
	width: .1rem;
	height: .1rem;
}

.online-status {
    background-color: #008000;
}

.offline-status {
    background-color: #ff0000;
}

/* Hide sidebar by default */
.sessioner-box {
    display: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 6px;
}

/* Other */

#friend-users {
    height: 725px;
    overflow-y: auto;
}

.error-message {
	align-content: center;
	color: #ff0000;
	display: flex;
	font-size: 1rem;
	justify-content: center;
	padding: .5rem;
}
